:root
{
  --card-color: #090E16;
}

html {
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

body
{
    padding: 0;
    margin: 0;
}

@media (min-width: 300px)
{
    .header
    {
        display: none;
    }

    .main
    {
        background: #090E16;
        padding-bottom: 50px 0;
    }

    .message
    {
        background: rgba(123, 74, 226, 0.1);
        border-radius: 16px;
        padding: 5px 10px;
        color: #7B4AE2;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin: 0 auto;
        margin-left: 0;
    }

    .main-h2
    {
        font-style: normal;
        font-weight: 800;
        font-size: 52px;
        line-height: 61px;
        color: white;
    }

    .main-p
    {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.5);
    }

    .main-text
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .main-pic
    {
        display: none;
    }

    .socials
    {
        display: flex;
        align-items: center;
        gap: 17px;
    }

    .main-socials
    {
        display: none;
    }
    
    #canvas
    {
        display: none;
    }

    .main-content
    {
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        padding: 30px;
        justify-content: center;
        flex-direction: column-reverse;
    }
    
    .adv
    {
        background: #090E16;
        padding: 100px 0;
    }

    .adv-content
    {
        margin: 0 auto;
    }

    .tabs
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
    }

    .adv-tabs
    {
        width: 246px;
        height: 200px;
        border: 1px solid rgba(123, 74, 226, 0.5);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .adv-tabs:hover
    {
        background-color: rgba(123, 74, 226, 0.1);
        border: none;
    }

    .tabs-name
    {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .about-me
    {
        background: #090E16;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .me-photo
    {
        border-radius: 999px;
        border: 1px solid rgba(123, 74, 226, 0.5);
    }

    .me-text
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }

    .me-h2
    {
        font-style: normal;
        font-weight: 800;
        font-size: 52px;
        line-height: 61px;
        color: white;
    }

    .me-p
    {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.5);
        text-align: left;
    }

    .projects
    {
        background: #090E16;
    }

    .projects-content
    {
        margin: 0 auto;
        max-width: 1640px;
    }

    .card
    {
        background-color: rgba(123, 74, 226, 0.1);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(25% - 50px);
        height: 400px;  
    }

    .card-header
    {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: white;
        margin-bottom: 20px;
    }

    .tag
    {
        background: rgba(123, 74, 226, 0.1);
        padding: 5px 8px;
        border-radius: 8px;
        color: #7B4AE2;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


    .card-text
    {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
    }

    .card-pic
    {
        display: none;
    }

    .proj-header
    {
        padding: 50px;
    }
    
    .top-line
    {
        border-top: 1px solid rgba(123, 74, 226, 0.2);
    }
}

@media (min-width: 1000px)
{
    .header
    {
        display: block;
        background: #090E16;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .header-content
    {
        margin: 0 auto;
        max-width: 1640px;
        height: 64px;
        background: rgba(123, 74, 226, 0.05);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header-buttons
    {
        display: flex;
        gap: 17px;
    }
    
    .header-button
    {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center; 
        color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        padding: 5px 5px;
        position: relative;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .header-button:after 
    {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        border-radius: 1px;
        left: 50%;
        position: absolute;
        background: rgba(123, 74, 226, 0.5);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .header-button:hover:after 
    { 
        width: 100%; 
        left: 0; 
    }

    .header-button:hover
    {
        color: rgba(123, 74, 226, 0.5);
    }

    .main-content
    {
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        max-width: 1640px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .main-text
    {
        justify-content: center;
    }

    .main-pic
    {
        position: relative;
        display: block;
    }

    #canvas
    {
        display: block;
        border-radius: 999px;
    }

    .ico-h
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    .dots
    {
        position: absolute;
        top: 62px;
        left: 58px;
    }

    .main-socials
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    .socials
    {
        display: none;
    }

    .adv-content
    {
        margin: 0 auto;
        
    }
    
    .tabs
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .info
    {
        margin: 0 auto;
        margin-top: 32px;
        background: rgba(123, 74, 226, 0.1);
        max-width: 900px;
        border-radius: 16px;
        transition: opacity 0.5s;
        opacity: 1;
    }

    #p-info
    {
        display: none;
    }

    #f-info
    {
        display: none;
    }

    #d-info
    {
        display: none;
    }

    .info-content
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 27px 20px;
    }

    .info-text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .i-h5
    {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #7B4AE2;
    }

    .i-p
    {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #7B4AE2;
    }

    .info-btn
    {
        font-size: 24px;
        border: 2px solid rgba(123, 74, 226, 0.5);
        padding: 5px;
        border-radius: 12px;
    }

    .me-text
    {
        gap: 20px;
    }

    .about-content
    {
        gap: 200px;
    }

    .proj-list
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    #cards:hover > .card::after 
    {
        opacity: 1;
    }

    .card:hover::before 
    {
        opacity: 1;
    }
      
    .card::before,
    .card::after 
    {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }
    
    .card::before 
    {
        background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
        );
        z-index: 3;
    }
    
    .card::after 
    {  
        background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(123, 74, 226, 0.5),
        transparent 40%
        );
        z-index: 1;
    }

    .card > .card-content
    {
        background-color: var(--card-color);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        inset: 1px;
        padding: 27px 30px;
        position: absolute;
        z-index: 2;
    }

    .card-pic
    {
        height: 100%; 
        margin-top: 15px;     
        margin-bottom: 20px;   
    }
}
